.imprumutPage{
  background: rgba(0,0,0,0.7);
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 40px 35px;
}
.imprumutPage h1, .imprumutPage p {
  text-align: center;
}

.imprumutForm {
  display: flex;
  margin-left: 5%;
}

 .titlu{
  width: 300px;
   margin-left: 5%;
}
.categoria{
  width: 180px;
}

