<div class="imprumutPage">
  <h1>Imprumuta o carte</h1>
  <hr>
  <p>
    Selectează genul și titlul cărții pe care dorești să o împrumuți, numărul maxim permis fiind de 3 cărți.
    Împrumutul se face automat pe o perioadă de 2 săptămâni, având posibilitatea unei prelungiri dacă e cazul în secțiunea
    "Lista mea" a paginii.
  </p>
  <form [formGroup]="imprumutForm">
    <div formArrayName="cartiForms" class="imprumutForm" >
      <div class="carteForm" *ngFor="let carteForm of formData(imprumutForm).controls">
        <app-carte [carteForm]="carteForm"
                   [carti]="carti"
                   [categorii]="categorii"
                   [categorieCurenta]="categorieCurenta"
                   [totalCarti]="totalCarti"></app-carte>
      </div>
    </div>
    <button *ngIf="totalCarti < 3" (click)="adaugaCarte()">Adauga Carte</button>
  </form>
</div>
