.imprumutPage{
  background: rgba(0,0,0,0.7);
  width: 50%;
  margin: 0 auto;
  color: white;
  padding: 40px 35px;
}
.imprumutPage h1, .imprumutPage p {
  text-align: center;
}

.imprumutPage p{
  max-width: 780px;
  margin: 20px auto;
}

hr{
  width: 400px;
  height: 1px;
  background-color: white;
  margin: auto;
}



