<div class="imprumutPage">
  <h1>Imprumuta o carte</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisic
    ing elit. A alias aperiam aut, cumque deserunt enim fa
    cilis ipsum magni odit officia omnis porro repellat sim
    ilique soluta ut veniam voluptatibus. Molestias, soluta?
  </p>
  <form [formGroup]="imprumutForm">
    <div formArrayName="cartiForms" class="imprumutForm" >
      <div class="carteForm" *ngFor="let carteForm of formData(imprumutForm).controls">
        <app-carte [carteForm]="carteForm"
                   [carti]="carti"
                   [categorii]="categorii"
                   [categorieCurenta]="categorieCurenta"
                   [totalCarti]="totalCarti"></app-carte>
      </div>
    </div>
    <button *ngIf="totalCarti < 3" (click)="adaugaCarte()">Adauga Carte</button>
  </form>
</div>
