<nav class="navbar ">
  <a class="navbar-brand" routerLink="/acasa">
    <img src="../../assets/images/logo.png" width="35" height="35" class="d-inline-block align-top" alt="">
    Biblioteca Online
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/acasa" >Acasa</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/imprumuta">Imprumuta</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/listaMea">Lista mea</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/contact">Contacteaza-ne</a>
    </li>
  </ul>
</nav>
