<nav class="navbar justify-content-between">
  <a class="nav-link" routerLink="/acasa">Bine ai venit, user</a>
  <button class="nav-link right logout" (click)="logout()">Delogare</button>
</nav>
<nav class="navbar ">
  <a class="navbar-brand" routerLink="/acasa">
    <img src="../../assets/images/logo.png" width="35" height="35" class="d-inline-block align-top" alt="">
    Biblioteca Online
  </a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active" *ngIf="userType === 'admin'">
      <a class="nav-link"  routerLink="/acasaAdmin" routerLinkActive="active-link" >Acasa</a>
    </li>
    <li class="nav-item active" *ngIf="userType === 'admin'">
      <a class="nav-link"  routerLink="/acasa" routerLinkActive="active-link" >Modifica Carti</a>
    </li>
    <li class="nav-item active"  *ngIf="userType === 'admin'">
      <a class="nav-link" routerLink="/acasa" routerLinkActive="active-link" >Modifica Imprumut</a>
    </li>
    <li class="nav-item active" *ngIf="userType === 'user'">
      <a class="nav-link"  routerLink="/acasa" routerLinkActive="active-link" >Acasa</a>
    </li>
    <li class="nav-item active"  *ngIf="userType === 'user'">
      <a class="nav-link" routerLink="/imprumuta" routerLinkActive="active-link">Imprumuta</a>
    </li>
    <li class="nav-item active" *ngIf="userType === 'user'">
      <a class="nav-link"  routerLink="/listaMea" routerLinkActive="active-link">Lista mea</a>
    </li>
    <li class="nav-item active" *ngIf="userType === 'user'">
      <a class="nav-link"  routerLink="/contact" routerLinkActive="active-link">Contacteaza-ne</a>
    </li>
  </ul>
</nav>
