nav{
  background: rgba(0,0,0,0.85);
  margin: 0 auto;
  width: 50%;
}

.nav-link, .navbar-brand{
  color:white;
}

nav .nav-link:hover{
  color: navajowhite;
}
.active-link{
  color: navajowhite;
}
nav a.navbar-brand:hover{
  color:white;
}

nav a.navbar-brand{
  font-family: 'Roboto', serif;
}

.navbar-nav{
  flex-direction: row;
}
.navbar-nav li{
  font-size: 1.3em;
  margin-left: 50px;
  font-family: 'Roboto', serif;
}
.navbar-nav li:last-child{
  margin-right: 50px;
}


.right {
  margin-right: 35px;
}
.logout{
  background: transparent;
  border: none;
}
.logout:focus{
  outline: none ;
}






