<div class="loginPage">
    <form class="loginForm" [formGroup]="loginForm" (submit)="loginUser()">
      <p class="title">Log In</p>
      <label for="username" class="user">Username</label>
      <input formControlName="username" class="userInput" type="text" id="username">
      <label for="password" class="user">Password</label>
      <input formControlName="password" class="userInput" type="password" id="password">
      <button id="login" type="submit">Log In</button>
      <button id="loginAdmin" (click)="loginAdmin()" type="button">Log In Admin</button>
      <a routerLink="/register"> Create a new account</a>
    </form>
</div>
