.carteForm {
  display: flex;
  margin-left: 5%;
}

.titlu{
  width: 300px;
  margin-left: 5%;
}
.categoria{
  width: 180px;
}
.sterge{
  height: 70%;
  margin-top: 15px;
  align-self: center;
  margin-left: 20px;
}
