<div class="contactPage">
  <h1>Contact</h1>
  <hr>
  <form class="contactForm" [formGroup]="contactForm" (submit)="trimite()">
    <div class="form-group">
      <label for="subiect">Subiect</label>
      <input formControlName="subiect" type="text" class="form-control" id="subiect">
    </div>
    <div class="form-group">
      <label for="mesaj">Mesaj</label>
      <textarea formControlName="mesaj" class="form-control" id="mesaj" rows="4"></textarea>
    </div>
    <button class="btn btn-info" id="trimiteMesaj" type="submit">Trimite</button>
  </form>
</div>
